/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

/* Colors */
/* body.dark-blue {
    --bg-color: #1A2F4A;
    --text-color: #FFF;
    --text-color-button: #FFF;
    --primary-color: #305789;
    --primary-color-dark: #274770;
}

body.light-blue {
    --bg-color: #FFF;
    --text-color: #1A2F4A;
    --text-color-button: #FFF;
    --primary-color: #305789;
    --primary-color-dark: #274770;
} */

/* HTML */

a {
    text-decoration: none;
    color: var(--primary-color);
}

h1 {
    text-align: center;
    margin: auto;
}

a.previous{
    margin-left: 5px;
    font-size: 14px;
}